<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <appender name="CmqClientAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${client.logRoot}/cmq_client.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${client.logRoot}/otherdays/cmq_client.%i.log
            </fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>${client.logFileMaxIndex}</maxIndex>
        </rollingPolicy>
        <triggeringPolicy
            class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss,GMT+8} %p %M</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <logger name="CmqClient" additivity="false">
        <level value="${client.logLevel}"/>
        <appender-ref ref="CmqClientAppender"/>
    </logger>

    <logger name="io.netty" additivity="false">
        <level value="${client.logLevel}" />
        <appender-ref ref="STDOUT-APPENDER" />
    </logger>

</configuration>
